<template id="phrased-language-picker">
  <style>
    phrased-language-picker {
    }
    phrased-language-picker select {
      width: 100%;
      margin-top: 1em;
    }
    phrased-language-picker label {
    }
  </style>
  <label for="phrased-language">Language</label>
  <select id="phrased-language" name="language">
   <option value="en">English</option>
   <option value="de" selected>Deutsch</option>
   <option value="es">Español</option>
  </select>
</template>
<script src="phrased-language-picker.js"></script>

