@import 'skeleton/normalize';
@import 'skeleton/skeleton';

body {
}

input[type="button"].button-small {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.containter {
  max-width: 800px;
}

section {
  margin-top: 5rem;
}

section.header {
  text-align: center;
  margin-top: 10rem;
}

.main-input {
  .phrase {
    font-size: 4rem;
    text-align: center;
    height: 8rem;
  }
}
