@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans');
@import 'components/phrased-passphrase/phrased-passphrase.css';
@import 'components/phrased-wordlists/phrased-wordlists.css';
@import 'components/language-picker/language-picker.css';

body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 1rem auto;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.container nav {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.container nav .nav-link > a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: darkgray;
  display: block;
  padding: 0.5rem;
  background-color: #eee;
}

.container nav .nav-link > a:hover {
  color: white;
  background-color: #4fc1e6;
}

.container h1 {
  margin: 0;
  font-size: 2rem;
}

.container h2 {
  margin: 0;
  font-size: 1.5rem;
}

.container section.app {
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
}

.container section.description {
  margin-top: 2rem;
  width: 100%;
  font-size: 1.3rem;
}

phrased-passphrase {
  font-family: 'Inconsolata', monospace;
  flex-basis: 100%;
  flex-grow: 3;
  margin: 3rem;
}

phrased-wordlists {
  flex-grow: 3;
}
