phrased-passphrase {
  text-align: center;
  font-size: 2rem;
}

phrased-passphrase span {
  border-bottom: 3px solid #4fc1e6;
  padding: 0.1em 0;
  line-height: 1.5em;
}

phrased-passphrase span.phrased-passphrase-pending {
  border-color: lightgrey;
  color: lightgrey;
}

